:root {
    --primary-color: #5B2C6F;  
    --secondary-color: #2C3E50; 
    --accent-color: #1C1C1C;  
    --light-gray: #BDC3C7;
    /* --primary-color1: #8E44AD;  
    --secondary-color1: #2C3E50;  
    --accent-color1: #353B48;   */
}
html {
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--accent-color);
}
.logo-container {
    position: relative;
}
.logo {
    width: 120px;
    height: 120px;
    padding: 10px 10px 10px 30px;
}
.fullName, .major {
    position: absolute;
    background-color: var(--accent-color);
    color: white;
}
.fullName {
    left: 57px;
    bottom: 34px;
    font-size: 7.5px;
}
.major {
    left: 69px;
    bottom: 27px;
    font-size: 5.6px;
}
nav ul li a {
    color: #BDC3C7;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}
.navbar > ul > li > a {
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.navbar > ul> li > a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-weight: bold;
}
@media (max-width: 810px) {
    nav ul li a {
        font-size: 15px;
    }
}
@media (max-width: 785px) {
    nav ul li a {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  }
  /* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    /* background-color: black; */
    background-color: var(--accent-color); 
}

  /* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    nav ul li a {
        padding: 8px 10px;
    }
}
